<div class = "container">
    <h1>Editing Media Handle</h1>

    <%= render 'form', media_handle: @media_handle %>

    <div class="hstack gap-3 mb-4">
        <%= link_to 'Show', @media_handle, class: "btn btn-outline-primary" %> 
        <%= link_to 'Back', Current.previous_path, class: "btn btn-outline-dark" %>
    </div>
</div>
