<% if session[:user_id] == @user.id%>
    <h1>Editing Profile</h1>
<% else %>
    <h1>Editing User</h1>
<% end %>

<%= render 'form', user: @user %>

<div class="hstack gap-3">
    <%= link_to 'Show Profile', @user, class: "btn btn-outline-primary" %>
    <%= link_to 'Back', Current.previous_path, class: "btn btn-outline-dark"%>
</div>
